<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif;
        }
    </style>
    <title>Trends in Application Development Project</title>
</head>

<body class="w3-light-grey">

    <div class="w3-content" style="max-width: 1400px">
        <header class="w3-container w3-center w3-padding-32">
            <h1><b>Trends in Application Development Project</b></h1>
            <p>DATABASE <span class="w3-tag">& BACKEND BASICS</span></p>
        </header>

        <!-- GRID -->
        <div class="w3-row">

            <!-- Project templates -->
            <div class="w3-col l8 s12">

                <!-- Title -->
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b>
                            Title Page:
                        </b></h3>

                        <h5>Description
                            <span class="w3-opacity">2024</span>
                        </h5>
                    </div>

                    <div class="w3-container">
                        <h1>Wish Ko Lang</h1>
                        <ul>
                            <li>Maxine Nicole Bernales</li>
                            <li>Miguel Andre Pajarillo</li>
                            <li>Evan Bellen</li>
                            <li>Najeeb Hussain</li>
                        </ul>
                    </div>
                </div>


                <!-- Problem Statement -->
                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b>Problem Statement</b></h3>
                        <h5>Description,
                            <span class="w3-opacity">2024</span>
                        </h5>
                    </div>

                    <div class="w3-container">
                        <p>Wish Ko Lang aims to become a bridge for people to provide and receive gifts by allowing individuals to share their wishlist. </p>
                    </div>
                </div>

                <div class="w3-card-4 w-margin w3-white">
                    <div class="w3-container">
                        <h3><b>Project Members</b></h3>
                    </div>

                    <div class="w3-container">
                        <table>
                            <tr>
                                <th>Member</th>
                                <th>Description</th>
                            </tr>
                            
                            {% for x in obj %}
                            <tr>
                                <td>{{x.name}}</td>
                                <td>{{x.description}}</td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>



            </div>

            <!-- Introduction -->
            <div class="w3-col l4">

                <!-- About Card -->
                <div class="w3-card w3-margin m3-margin-top">
                    <div class="w3-container w3-white">
                        <h4><b>Current Work and Next Step</b></h4>
                        <p>Wish Ko Lang website is now under development. As of May 11, 2024, the website design is being reassessed and the frontend side of the app is being developed alongside it. In the following days, the developers need to accomplish the following pages: Home Page, Friends Page, and Secret Santa Page. The developers are planning to focus on the basic features of the app and reduce other features to address the deadline concerns. However, these features will be added in the future.</p>
                    </div>
                </div>

                <hr>
                <!-- Features -->

                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Features</h4>
                    </div>

                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <span class="w3-large">Feature1</span><br>
                            <span>Open Gifting for Organization Members</span>
                        </li>
                        <li class="w3-padding-16">
                            <span class="w3-large">Feature2</span><br>
                            <span>Secret Santa Roulette</span>
                        </li>
                        <li class="w3-padding-16">
                            <span class="w3-large">Feature3</span><br>
                            <span>Sharing of Wishlist</span>
                        </li>
                    </ul>
                </div>
                </hr>

                <!-- Labels/tags -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Tags</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">Wishlist</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Charity</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Organization</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Gift</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Christmas</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Birthday</span>
                        </p>
                    </div>
                </div>
            


            </div>


            


            
        </div>
    </div>

    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <p>Copyright 2024
            <a href="#">Maxine Nicole B. Bernales</a>
        </p>
    </footer>

</body>

</html>